go 1.23.0

toolchain go1.23.4

use (
	./gen
	./platform
	./services/adapter-pool
	./services/ai-service
	./services/audit
	./services/auth
	./services/billing-service
	./services/collab-service
	./services/conflict-resolver
	./services/git-ingress
	./services/hello
	./services/live-events-service
	./services/opa-bundle-server
	./services/orgteam
	./services/repo
	./services/search-service
	./services/sync-orchestrator
	./services/upstream
	./services/webhook-gateway
	./tools/scaffold
)
